
body {
    background-color: rosybrown;
    margin: 0px;
}

header {
    background-color: seashell;
    text-align: center;
}

article {
    width: 600px;
    margin: 0px auto;
    background-color: seashell;
}